* {

    box-sizing: border-box;

    background-color: antiquewhite;

}

body {

    background-color: #1a1a1a;

    margin: 0;

    font-family: Arial, sans-serif;

}

.RELOAD {

    position: fixed;

    bottom: 2em;

    /* Distancia desde abajo */

    right: 2em;

    /* Distancia desde la derecha */

    background-color: rgb(14, 12, 13);

    color: rgb(248, 247, 247);

    border: none;

    padding: 0.8em 1.2em;

    border-radius: 0.5em;

    cursor: pointer;

    font-weight: bold;

    z-index: 1000;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    /* Un poco de sombra para que resalte */

    transition: transform 0.2s;

}



.RELOAD:hover {

    background-color: rgb(241, 239, 239);

    transform: scale(1.1);

}

.contenedor-principal {

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: flex-start;

    gap: 1.25em;

    padding: 2em;

    background-color: antiquewhite;

    min-height: 100vh;

}



.game1,
.game2,
.game3,
.game4 {

    background-color: burlywood;

    width: 25em;

    min-height: 12em;

    border: 2px solid #333;

    border-radius: 2em;

    text-align: center;

    font-size: large;

    padding: 1.5em;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

h1 {

    font-size: 1.2em;

    color: #100f0f;

    margin-bottom: 1em;

    text-align: center;

    font-size: x-large;

}

input {

    border-radius: 1em;

    border: 1px solid #ccc;

    padding: 0.5em;

    margin-bottom: 0.5em;

    width: 80%;

    display: block;

    margin-left: auto;

    margin-right: auto;

}



button {

    color: black;

    background-color: azure;

    border-radius: 2rem;

    padding: 0.6em 1.2em;

    border: 1px solid #ccc;

    cursor: pointer;

    transition: all 0.3s ease;

    font-weight: bold;

}
.red {
    background-color: #ff4d4d;
}

.green {
    background-color: #2ecc71;
}

.blue {
    background-color: #3498db;
}

.yellow {
    background-color: #f1c40f;
}

#simon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}


button:hover {

    color: aliceblue;

    background-color: black;

    transform: translateY(-2px);

}