body {
    background-color: antiquewhite;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;

}
header {
    background-color: rgb(67, 65, 55);
    padding:0.9em;
    
}
.identificacaion{
    top: 2em;
        right: 2em;
        background-color: rgb(14, 12, 13);
        color: rgb(248, 247, 247);
        border: none;
        padding: 0.8em 1.2em;
        border-radius: 0.5em;
        cursor: pointer;
        font-weight: bold;
        z-index: 1000;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;
        margin-right: 1em;
}

.identificacaion:hover {
    background-color: rgb(127, 115, 115);
    transform: scale(1.1);

}

.RELOAD {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: rgb(14, 12, 13);
    color: rgb(248, 247, 247);
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    margin-right: 1em;

}
.RELOAD:hover {
    background-color: rgb(127, 115, 115);
    transform: scale(1.1);

}
.contenedor-principal {
    grid-area: auto;
    grid-column: auto;
    background-color: rgb(67, 65, 55);
}
.contenedor-secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25em;
    padding: 1.25em;
    background-color: antiquewhite;
    min-height: 5em;
}



.games{
    background-color: burlywood;
    width: 25em;
    min-height: 12em;
    border: 2px solid #333;
    border-radius: 2em;
    text-align: center;
    font-size: large;
    padding: 1.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}
h1 {
    font-size: 1.2em;
    color: #e1e1e1;
    margin-bottom: 1em;
    text-align: center;
    font-size: x-large;

}
.titulo {
    text-align: left;
    color: white;
    margin-right: 2em;
    cursor: pointer;
}

input {
    border-radius: 1em;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 0.5em;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



button {
    color: black;
    background-color: azure;
    border-radius: 2rem;
    padding: 0.6em 1.2em;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;

}
.red {
    background-color: #ff4d4d;
}

.green {
    background-color: #2ecc71;
}

.blue {
    background-color: #3498db;
}

.yellow {
    background-color: #f1c40f;
}

#simon-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    justify-content: center;
}
.color-button {
    border-radius: 10px;
    border: 3px solid #333;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s;
    padding: 2.6em;
}
.color-button.active {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(251, 251, 251);
}
.resetB {
    margin-top: 1em;
    background-color: darkorange;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.resetB:hover {
    background-color: orangered;
}
h2 {
    text-align: center;
    color: #faf5f5;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
button:hover {
    color: aliceblue;
    background-color: black;
    transform: translateY(-2px);
}

#clickerImage {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
}

.expanding {
    transform: scale(1.15);

}